body{
    background-color: #343a40;
}
heading .col{
    background-color: lightslategray;
    box-sizing: border-box;
}
h1{
    color: black;
}
table{
    margin: 0;
}
thead{
    background-color: black;
}
tbody{
    color: black;
}
tbody th{
    color: white;
}
tbody td{
    padding: 10px;
}
.tc-level{
    background-color: rgb(185,185,185);
}
.tc-xp{
    background-color: rgb(205,205,205);
}
.tc-r{
    background-color: rgb(185,185,185);
}

.barFiller{
    background-color: aquamarine;
    margin: 0;
}
/*Separate skillheader bg-colors*/
#attack th{
    background: linear-gradient(90deg, rgba(152, 0, 52, 1) 0%, rgba(152, 0, 52, 0) 25%);
}
#defence th{
    background: linear-gradient(90deg, rgba(6, 105, 178, 1) 0%, rgba(6, 105, 178, 0) 25%);
}
#strength th{
    background: linear-gradient(90deg, rgba(0, 159, 60, 1) 0%, rgba(0, 159, 60, 0) 25%);
}
#hitpoints th{
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%);
}
#ranged th{
    background: linear-gradient(90deg, rgba(124, 198, 35, 1) 0%, rgba(124, 198, 35, 0) 25%);
}
#prayer th{
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%);
}
#magic th{
    background: linear-gradient(90deg, rgba(205, 205, 205, 1) 0%, rgba(205, 205, 205, 0) 25%);
}
#cooking th{
    background: linear-gradient(90deg, rgba(106, 80, 155, 1) 0%, rgba(106, 80, 155, 0) 25%);
}
#woodcutting th{
    background: linear-gradient(90deg, rgba(200, 164, 109, 1) 0%, rgba(200, 164, 109, 0) 25%);
}
#fletching th{
    background: linear-gradient(90deg, rgba(0, 109, 104, 1) 0%, rgba(0, 109, 104, 0) 25%);
}
#fishing th{
    background: linear-gradient(90deg, rgba(141, 207, 244, 1) 0%, rgba(141, 207, 244, 0) 25%);
}
#firemaking th{
    background: linear-gradient(90deg, rgba(239, 156, 0, 1) 0%, rgba(239, 156, 0, 0) 25%);
}
#crafting th{
    background: linear-gradient(90deg, rgba(118, 100, 84, 1) 0%, rgba(118, 100, 84, 0) 25%);
}
#smithing th{
    background: linear-gradient(90deg, rgba(72, 87, 68, 1) 0%, rgba(72, 87, 68, 0) 25%);
}
#mining th{
    background: linear-gradient(90deg, rgba(87, 83, 68, 1) 0%, rgba(87, 83, 68, 0) 25%);
}
#herblore th{
    background: linear-gradient(90deg, rgba(0, 159, 60, 1) 0%, rgba(0, 159, 60, 0) 25%);
}
#agility th{
    background: linear-gradient(90deg, rgba(29, 42, 99, 1) 0%, rgba(29, 42, 99, 0) 25%);
}
#thieving th{
    background: linear-gradient(90deg, rgba(142, 86, 155, 1) 0%, rgba(142, 86, 155, 0) 25%);
}
#slayer th{
    background: linear-gradient(90deg, rgba(48, 48, 48, 1) 0%, rgba(48, 48, 48, 0) 25%);
}
#farming th{
    background: linear-gradient(90deg, rgba(0, 117, 32, 1) 0%, rgba(0, 117, 32, 0) 25%);
}
#runecrafting th{
    background: linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 25%);
}
#hunter th{
    background: linear-gradient(90deg, rgba(158, 139, 117, 1) 0%, rgba(158, 139, 117, 0) 25%);
}
#construction th{
    background: linear-gradient(90deg, rgba(203, 185, 157, 1) 0%, rgba(203, 185, 157, 0) 25%);
}
#total th{
    background-color: rgb(50, 109, 168);
}